#BACKEND
./api/node_modules
./api/public/hot
./api/public/storage
./api/storage/*.key
./api/vendor
./api/.env
./api/.env.backup
./api/.phpunit.result.cache
./api/docker-compose.override.yml
./api/Homestead.json
./api/Homestead.yaml
./api/npm-debug.log
./api/yarn-error.log
./api/.idea
./api/.vscode
./api/.docker


#FRONTEND
./frontend/.DS_Store
./frontend/node_modules
./frontend/dist

# local env files
./frontend/.env.local
./frontend/.env.*.local

# Log files
./frontend/npm-debug.log*
./frontend/yarn-debug.log*
./frontend/yarn-error.log*
./frontend/pnpm-debug.log*

# Editor directories and files
./frontend/.idea
./frontend/.vscode
./frontend/*.suo
./frontend/*.ntvs*
./frontend/*.njsproj
./frontend/*.sln
./frontend/*.sw?
